{% extends 'Layout.html.twig' %}

{% block content %}
    {% include 'FlashMessages.html.twig' %}
    <ol>
        {% for submission in submissions %}
        <li>
            <a href="{{ submission.url|e('html_attr') }}">{{ submission.title }}</a>
        </li>
        {% endfor %}
    </ol>
{% endblock %}